body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 370px;
  margin: 100px auto;
  border: 5px solid rgb(201, 201, 201);
  padding: 20px;
}

.logo {
  width: 80px;
}

.calculation-result-window {
  background-color: rgb(15, 15, 15);
  width: 90%;
  min-height: 170px;
  height: 100%;
  border: 1px solid gray;
  padding: 15px;
  font-size: 3rem;
  display: flex;
  justify-content: end;
  align-items: start;
  word-wrap: break-word;
  display: inline-block;
}

button {
  font-size: 22px;
  background-color: rgb(47, 47, 47);
  color: white;
  border: none;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  align-items: center;
  margin: 5px;
  cursor: pointer;
  transition: opacity .3s;
}

button:hover {
  opacity: .3;
}

button:active {
  opacity: .8;
}

.orange-btn {
  background-color: orange;
}